<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head th:fragment="header">

<meta charset="UTF-8"/>
<meta name="viewport" content="width=device-width, initial-scale=1.0"/>
<link rel="stylesheet" href="//fonts.googleapis.com/css?family=Roboto:300,300italic,700,700italic" />
<link rel="stylesheet" href="css/milligram.min.css" type="text/css" />
<link rel="stylesheet" href="css/omni.css" type="text/css" />
<script type="text/javascript" src="control.js"></script>
<title>OMNIbus Admin event browser</title>
</head>

<body>
    <div th:fragment="footer" align="right">
        <hr />&copy;VIl v.0.2.4-Common
    </div>
</body>
</html>