<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" th:lang="${#locale.language}" xmlns:th="http://www.thymeleaf.org">
<head th:replace="base :: header">
    <title>Columns</title>
</head>
<body>
<style>
table tr td {border:none;line-height:50%;}
</style>

<h3 th:text="#{text.columns}">Columns</h3>

<div class="container">
<div class="row">
<div class="column column-67">
<table>
<tbody>
	<tr th:each="col : ${columns}">
		<td th:style="${col.value} ? 'font-weight:bold;' : 'font-style:italic;'"
			th:text="${col.key}"></td>
		<td th:unless="${col.value}" style="color:red;" th:text="#{text.columns.absent}"></td>
	</tr>
</tbody>
</table>
</div>
</div>
</div>
</body>
</html>